<div id="font-div2" class="apply-font2 border <%= displayClass %>">
    <h1><%= fontName2 %></h1>

    <!-- Inspirational Quote -->
    <p>
        <%= quote.text %>
        <br>
        -<%= quote.author %>
    </p>

    <br>

    <!-- Random Text -->
    <p>
        <%= lorem %>
    </p>
</div>