<div id="font-div" class="apply-font border <%= displayClass %>">
    <h1><%= fontName %></h1>

    <!-- Inspirational Quote -->
    <p>
        <%= quote.text %>
        <br>
        -<%= quote.author %>
    </p>

    <br>

    <!-- Random Text -->
    <p>
        <%= lorem %>
    </p>
</div>